.navbar{
     background: var(--nav1);
     transition: background 0.35s linear;
     font-family: 'Jost', sans-serif;
}
.navbar-nav {
     margin: auto;
}
.nav-item {
     margin-right: 10px;
     margin-left: 10px;
     font-weight: 700;
     letter-spacing: 2px;
}
.nav-link:hover {
     color: var(--theme);
}
.bi {
     position: relative;
     margin-right: 3px;
     font-size: 16px;
}
.dropdown-menu{
     position: relative;
     margin: auto;
     width: 100%;
     max-width: 340px;
}
img{
     border-radius: 50%;
}
.nav-link {
     margin-top: 0;
     margin-bottom: 0;
     color: white;
}
.material-icons {
     color: var(--heading);
     font-size: 2.2rem;
}
.logo {
     box-shadow: -5px 5px 15px -2px rgb(0, 0, 0);
     padding: 1px;
     background: white;
}

@media (max-width:760px) {
     .nav-item {
          margin-bottom: 15px;
     }
}