.inside {
     margin-bottom: 1rem;
     background: var(--bg2);
     border-radius: 0.35rem;
     padding: 8px;
     font-family: 'Roboto Condensed', sans-serif;
     font-size: 20px;
}
.outside {
     margin-bottom: 0;
     margin-top: 2rem;
     font-size: 16px;
     color: var(--heading);
     letter-spacing: 3px;
     font-weight: 300;
}
.title {
     margin-bottom: 2rem;
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     -webkit-font-smoothing: subpixel-antialiased;
     font-size: 2rem;
}
.box {
     position: relative;
     border-radius: 0.5rem;
     color: white;
     background: var(--bg1);
     transition: background 0.25s linear;
     width: 100%;
     max-width: 380px;
     margin: auto;
     margin-bottom: 1rem;
     margin-top: 5rem;
     padding: 20px;
     color: var(--heading);
     box-shadow: -5px 5px 15px -5px rgb(0, 0, 0);
}
.details {
     margin-top: 1.5rem;
}
.contact {
     margin-top: 2rem;
     margin-bottom: 2rem;
}
.btn {
     margin-bottom: 0.5rem;
     margin-top: 0.5rem;
     height: 3rem;
     background: var(--btn1);
     color: white;
     font-weight: 700;
}
.btn:hover {
     background: var(--btn2);
}
.date {
     font-weight: 300;
     margin-bottom: 0;
}