<app-navbar></app-navbar>
<div *ngIf="post$ | async as post">
     <div class="box">
          <div class="w-100">
               <p class="mb-1 title text-center">{{ post.title}}</p>
          </div>
          <div class="details">
               <p class="outside">Details :</p>
               <p class="inside">{{ post.detail }}</p>
               <p class="outside">Skills Required :</p>
               <p class="inside">{{ post.skills }}</p>
               <p class="date text-center">Posted On {{ post.day }}</p>
               <button class="btn btn-lg btn-block contact" [routerLink]="['/user', post.user]">
                    Contact Uploder
               </button>
          </div>
     </div>
</div>