<form class="form-signin text-center">
     <h1 class="display-5">Please Login</h1>
     <input type="email" #email class="form-control" placeholder="Email address" required>
     <input type="password" #password class="form-control" placeholder="Password" required>
     <button type="button" class="btn btn-lg btn-primary btn-block login-btn" (click)="auth.emailLogin(email.value, password.value)">Login</button>
     <a href="#" routerLink="/register">
          🆕 New User? Create ID.
     </a>
     <p class="or text-primary">Or</p>
     <div class="social">
          <p class="text-primary">Login with Social Network 🌏</p>
          <i class="fa fa-google" aria-hidden="true" (click)="auth.googleLogin()"></i>
          <i class="fa fa-facebook-official" aria-hidden="true" (click)="auth.googleLogin()">‎‎‎</i>
     </div>
</form>