.jobCard {
     position: relative;
     width: 425px;
     height: 325px;
     background: var(--bg1);
     margin: auto;
     padding: 25px;
     box-shadow: 3px 3px 20px -15px black;
}
.title {
     color: var(--text);
     font-size: 30px;
     margin-bottom: 20px;
     margin-top: 10px;
     max-height: 50px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     background: var(--bg);
     padding-left: 10px;
     border-radius: 0.3rem;
}
.detail {
     color: var(--text);
     font-size: 16px;
     letter-spacing: 1px;
     max-height: 55px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     background: var(--bg);
     padding-left: 10px;
     border-radius: 0.3rem;
}
.skills {
     color: var(--text);
     font-size: 16px;
     letter-spacing: 2px;
     max-height: 55px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     background: var(--bg);
     padding-left: 10px;
     border-radius: 0.3rem;
}
.avatar {
     position: absolute;
     width: 30px;
     border-radius: 50%;
     top: 25px;
     left: 115px;
}
.contact {
     color: var(--text);
     position: absolute;
     bottom: 25px;
     width: 350px;
     border-radius: 0.3rem;
     border: 2px solid var(--contrast);
     background: none;
     font-family: Consolas;
     font-size: 16px;
     letter-spacing: 1px;
     padding: 7.5px 0px;
     box-shadow: 2px 2px 10px -6px black;
     transition: all 0.2s ease-out;
}
.contact:hover {
     background: var(--contrast);
     color: var(--bg);
}
span {
     color: var(--text);
     line-height: 30px;
}
.name {
     margin-left: 40px;
}