<app-navbar></app-navbar>
<form class="form-signin text-center">
     <h1 class="display-5">Post a Job</h1>
     <input type="text" #title class="form-control up" placeholder="Title" required>
     <input type="text" #detail class="form-control mid" placeholder="Description" required>
     <input type="text" #skills class="form-control low" placeholder="Skills Requirede" required>
     <button type="button" class="btn btn-lg btn-primary btn-block login-btn" (click)="postJob(title.value, detail.value, skills.value)">Post</button>
     <a href="#" routerLink="/home">
          Home 🏠
     </a>
</form>