body{
     margin: 0;
     padding: 0;
     background: var(--bg);
     transition: background 0.5s linear;
}
body::-webkit-scrollbar {
     width: 0.25rem;
}
body::-webkit-scrollbar-track {
     background: var(--bg2);
}
body::-webkit-scrollbar-thumb {
     background: var(--theme);
}
.dark {
     --bg: #282c34;
     --bg1: #1e2229;
     --bg2: #16191f;
     --heading: #ffffff;
     --heading1: #ffffff;
     --text: rgb(250, 255, 230);
     --link1: #B3E0FF;
     --link2: #00c382;
     --nav1: #16191f;
     --btn1: #007bff;
     --btn2: #0060c7;
     --bd: #fae042;
     --theme: rgb(255, 133, 51);
}
.light{
     --bg: #fbfcff;
     --bg1: #eef4ff;
     --bg2: #e3eeff;
     --heading: #17181b;
     --heading1: #363941;
     --text: #0e1e30;
     --link1: #00406B;
     --link2: #00a870;
     --nav1: #2979cd;
     --btn1: #0f9a65;
     --btn2: #045946;
     --bd: #402fb6;
     --theme: rgb(21, 21, 122);
}