body{
     margin: 0;
     padding: 0;
     background: var(--bg);
     transition: background 0.5s linear;
}
.dark {
     --bg: #282c34;
     --bg1: #1e2229;
     --bg2: #16191f;
     --heading: #ffffff;
     --text: rgb(250, 255, 230);
     --link1: #0099ff;
     --link2: #00c382;
     --nav1: #16191f;
     --nav2: #282c34;
     --btn1: #007bff;
     --btn2: #0060c7;
     --bd: #fae042;
     --theme: rgba(255, 143, 79, 0.883);
}
.light{
     --bg: #e2ffd9;
     --bg1: #d1f1c7;
     --bg2: #b7e7a9;
     --heading: #282c34;
     --text: #0e1e30;
     --link1: #007acc;
     --link2: #00a870;
     --nav1: rgba(0,143,104);
     --nav2: rgba(107, 183, 86);
     --btn1: #0f9a65;
     --btn2: #045946;
     --bd: #402fb6;
     --theme: rgb(19, 19, 70);
}