.container {
     position: relative;
     margin: auto;
     margin-top: 5rem;
     border-radius: 0.35rem;
     width: 100%;
     max-width: 380px;
     padding: 10px;
     background: var(--bg1);
     box-shadow: -5px 5px 15px -5px rgb(0, 0, 0);
     transition: background 0.3s linear;
}
.inside {
     font-size: 20px;
     font-weight: 500;
     color: var(--heading);
     padding: 6px;
     border-radius: 0.25rem;
     font-family: 'Jost', sans-serif;
     box-shadow: inset -5px 5px 50px -35px rgba(0, 0, 0, 0.658);
}
.material-icons {
     color: var(--heading);
     position: absolute;
     right: 15px;
     margin-top: 5px;
}
.outside {
     margin-left: 10px;
     margin-bottom: 0;
     font-size: 18px;
     font-weight: 300;
     letter-spacing: 2px;
     color: var(--heading);
     font-family: 'Jost', sans-serif;
}
h1 {
     font-family: 'Montserrat', sans-serif;
     position: absolute;
     top: 2.2rem;
     left: 7.5rem;
     font-size: 26px;
     color: var(--heading);
}
img {
     border-radius: 50%;
     box-shadow: -5px 5px 25px -10px black;
}
.btn {
     height: 3.5rem;
     background: var(--btn1);
     color: white;
     font-family: 'Montserrat', sans-serif;
     font-weight: bolder;
}
.btn:hover {
     background: var(--btn2);
}
.details {
     margin-top: 1.5rem;
}
