<app-navbar></app-navbar>
<div class="container">
     <div *ngFor="let post of posts | async">
          <div class="box">
               <div class="title-box">
                    <h1 class="title">{{post.title}}</h1>
                    <div class="drop">
                         <p class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></p>
                         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <input type="text" #title class="form-control" placeholder="Title" required>
                              <button class="btn btn-block btn-md" type="button" (click)="updateTitle(post.id, title.value)">Update Title</button>
                         </div>
                    </div>
               </div>
               <div class="detail-box">
                    <p class="detail">{{post.detail}}</p>
                    <div class="drop">
                         <p class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></p>
                         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <input type="text" #detail class="form-control" placeholder="Detail" required>
                              <button class="btn btn-block btn-md" type="button" (click)="updateDetail(post.id, detail.value)">Update Detail</button>
                         </div>
                    </div>
               </div>
               <div class="skills-box">
                    <p class="skills">{{post.skills}}</p>
                    <div class="drop">
                         <p class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></p>
                         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <input type="text" #skills class="form-control" placeholder="Skills" required>
                              <button class="btn btn-block btn-md" type="button" (click)="updateSkills(post.id, skills.value)">Update Skills</button>
                         </div>
                    </div>
               </div>
               <p class="day text-center"><small>{{post.day}}</small></p>
               <i class="fas fa-trash" (click)="deletePost(post.id)"></i>
          </div>
     </div>
</div>