.container {
     margin-top: 5rem;
}
.box {
     position: relative;
     margin: auto;
     margin-bottom: 0.5rem;
     width: 100%;
     max-width: 380px;
     color: var(--heading);
     background: var(--bg1);
     padding: 25px;
     border-radius: 0.35rem;
     box-shadow: -5px 5px 15px -5px rgb(0, 0, 0);
}
.title-box {
     position: relative;
     margin-bottom: 1.5rem;
}
.detail-box {
     position: relative;
     margin-bottom: 1.5rem;
}
.skills-box {
     position: relative;
     margin-bottom: 1.5rem;
}
.drop {
     position: absolute;
     left: -20px;
     top: 0;
     padding: 0;
}
.btn {
     color: white;
     background: var(--btn1);
}
.btn:hover {
     background: var(--btn2);
}
.dropdown-menu {
     position: relative;
}
.fa-trash {
     font-size: 16px;
     position: absolute;
     right: 15px;
     cursor: pointer;
}
.fa-trash:hover {
     color: rgb(128, 0, 0);
}