<app-navbar></app-navbar>
     <div *ngFor="let post of posts | async">
          <div  class="box">
                    <div class="head-edit">
                         <p class="title text-center">
                              {{ post.title}}
                         </p>
                         <span class="edit material-icons" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              edit
                         </span>
                         <div class="dropdown-menu">
                              <input type="text" #title class="form-control up" placeholder="Title" required>
                              <button type="button" class="btn btn-block btn-success edit-btn" (click)="updateTitle(post.id, title.value)">Edit Title</button>
                         </div>
                    </div>
               <div class="details">
                    <div class="detail-edit">
                         <p class="outside">Details :</p>
                         <span class="edit material-icons" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              edit
                         </span>
                         <div class="dropdown-menu">
                              <input type="text" #detail class="form-control up" placeholder="Details" required>
                              <button type="button" class="btn btn-block btn-success edit-btn" (click)="updateDetail(post.id, detail.value)">Edit Details</button>
                         </div>
                         <p class="inside">
                              {{ post.detail }}
                         </p>
                    </div>
                    <div class="skills-edit">
                         <p class="outside">Skills Required</p> 
                         <span class="edit material-icons" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              edit
                         </span>
                         <div class="dropdown-menu">
                              <input type="text" #skills class="form-control up" placeholder="Skills" required>
                              <button type="button" class="btn btn-block btn-success edit-btn" (click)="updateSkills(post.id, skills.value)">Edit Skill</button>
                         </div>
                         <p class="inside">
                              {{ post.skills }}
                         </p>
                    </div>
                    <p>Posted On {{ post.day }}</p>
                    <span class="bin material-icons"  (click)="showId(post.id)">
                         delete
                    </span>
               </div>
          </div>
     </div>

